body {
    background: gainsboro;

    img{
      width: 500px;
      }
  }

  #theSiberian{
    background-color: red;
    width: 300px;
    height: 300px;
    font-size: 4.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
  }